<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyComputer"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".components"
            android:label="Устройство ПК">
        </activity>
        <activity android:name=".build"
            android:label="Сборка ПК">
        </activity>
        <activity android:name=".program"
            android:label="Полезные ссылки на программы">
        </activity>
        <activity android:name=".motherboards"
            android:label="Материнская плата">
        </activity>
        <activity android:name=".processor"
            android:label="Процессор">
        </activity>
        <activity android:name=".memory"
            android:label="Оперативная память">
        </activity>
        <activity android:name=".power"
            android:label="Блок питания">
        </activity>
        <activity android:name=".video"
            android:label="Видеокарта">
        </activity>
        <activity android:name=".cool"
            android:label="Охлаждение">
        </activity>
        <activity android:name=".body"
            android:label="Корпус">
        </activity>
        <activity android:name=".hddssd"
            android:label="Хранение данных">
        </activity>

    </application>



</manifest>